<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DevExpress.Charts" version="24.2.3" targetFramework="net472" />
  <package id="DevExpress.Charts.Core" version="24.2.3" targetFramework="net472" />
  <package id="DevExpress.CodeParser" version="24.2.3" targetFramework="net472" />
  <package id="DevExpress.Data" version="24.2.3" targetFramework="net472" />
  <package id="DevExpress.Data.Desktop" version="24.2.3" targetFramework="net472" />
  <package id="DevExpress.DataAccess" version="24.2.3" targetFramework="net472" />
  <package id="DevExpress.DataVisualization.Core" version="24.2.3" targetFramework="net472" />
  <package id="DevExpress.Drawing" version="24.2.3" targetFramework="net472" />
  <package id="DevExpress.Images" version="24.2.3" targetFramework="net472" />
  <package id="DevExpress.Office.Core" version="24.2.3" targetFramework="net472" />
  <package id="DevExpress.Pdf.Core" version="24.2.3" targetFramework="net472" />
  <package id="DevExpress.Pdf.Drawing" version="24.2.3" targetFramework="net472" />
  <package id="DevExpress.PivotGrid.Core" version="24.2.3" targetFramework="net472" />
  <package id="DevExpress.Printing.Core" version="24.2.3" targetFramework="net472" />
  <package id="DevExpress.RichEdit.Core" version="24.2.3" targetFramework="net472" />
  <package id="DevExpress.RichEdit.Export" version="24.2.3" targetFramework="net472" />
  <package id="DevExpress.Scheduler.Core" version="24.2.3" targetFramework="net472" />
  <package id="DevExpress.Scheduler.CoreDesktop" version="24.2.3" targetFramework="net472" />
  <package id="DevExpress.Sparkline.Core" version="24.2.3" targetFramework="net472" />
  <package id="DevExpress.SpellChecker.Core" version="24.2.3" targetFramework="net472" />
  <package id="DevExpress.Spreadsheet.Core" version="24.2.3" targetFramework="net472" />
  <package id="DevExpress.TreeMap" version="24.2.3" targetFramework="net472" />
  <package id="DevExpress.TreeMap.Core" version="24.2.3" targetFramework="net472" />
  <package id="DevExpress.Web" version="24.2.3" targetFramework="net472" />
  <package id="DevExpress.Web.Bootstrap" version="24.2.3" targetFramework="net472" />
  <package id="DevExpress.Web.Office" version="24.2.3" targetFramework="net472" />
  <package id="DevExpress.Web.Resources" version="24.2.3" targetFramework="net472" />
  <package id="DevExpress.Web.Scheduler" version="24.2.3" targetFramework="net472" />
  <package id="DevExpress.Xpo" version="24.2.3" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="9.0.3" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration" version="9.0.3" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="9.0.3" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="9.0.3" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Json" version="9.0.3" targetFramework="net472" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="9.0.3" targetFramework="net472" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="9.0.3" targetFramework="net472" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="9.0.3" targetFramework="net472" />
  <package id="Microsoft.Extensions.Primitives" version="9.0.3" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.IO.Pipelines" version="9.0.3" targetFramework="net472" />
  <package id="System.Memory" version="4.5.5" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="9.0.3" targetFramework="net472" />
  <package id="System.Text.Json" version="9.0.3" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>